#  objects
emulator/target/
eprom/out/
*.elf

# GIMP files (used for charset.bmp)
*.xcf

# NetBeans configuration
emulator/nb-configuration.xml

# other configs
emulator/.settings/
emulator/.classpath
emulator/.project
